---
layout: base
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  <h1>Welcome to v2.rip!</h1>
  <br>
  <div>
    You're probably here because you saw my email address somewhere. I just like having something short, and most single letter domains at most TLDs are already taken, or are extremely expensive.
  </div>
  <div>
    The interesting stuff is elsewhere!
  </div>
  <br>
  <h2>Check out my other websites</h2>
  <br>
  <a href="https://sj.wtf">My main blog, sj.wtf</a>
  <br>
  <a href="https://mncloudconsulting.com">My consulting company, MNCC</a>

  {{ content }}

</div>
